mixin nav
  ul
    li
      a(href=site_config.site_url) Home
    for folder in folders
      li
        a(href=site_config.site_url + folder)= folder
    li
      a(href=site_config.site_url + 'tags') Tags


mixin folderPost(posts, folder)
  h3
    = folder

  ul
    for post in posts
      - if (post.folder == folder)
        li
          a(href=post.perm_link, title=post.title)= post.title


mixin tagPost(posts, tag)
  h3(id=tag)
    = tag

  ul
    for post in posts
      - if (post.tags.indexOf(tag) != -1)
        li
          a(href=post.perm_link, title=post.title)= post.title
