extends layout

block content
  h1.title
    a(href=item.perm_link)
      = item.title
  div.meta
    small
      | Published on #{item.date} under 
      a(href=site_config.site_url + item.folder, class="title")= item.folder
  div.body.typo
    != item.content
  div.tags
    | Tagged in :
    for tag in item.tags
      small
        a(href=site_config.site_url + 'tags' + '#' + tag)
          | ##{tag}
